.table1 {
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
}

.table1Img{
    width:250px; 
    height:450px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.table2 {
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

#row3Img{
    width:300px; 
    height:480px;
    padding: 10px;
    display: block;
    margin: 0 auto;
}
#banner {
    width: 850px;
    height: 100px;
}